<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/QuizDB</param-value>
    </context-param>
    <context-param>
        <param-name>login</param-name>
        <param-value>quizdb</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>quizdb</param-value>
    </context-param>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>pl.jkubieniec.servlets.Start</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Quiz</servlet-name>
        <servlet-class>pl.jkubieniec.servlets.Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Results</servlet-name>
        <servlet-class>pl.jkubieniec.servlets.Results</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndQuiz</servlet-name>
        <servlet-class>pl.jkubieniec.servlets.EndQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Quiz</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Results</servlet-name>
        <url-pattern>/Results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndQuiz</servlet-name>
        <url-pattern>/EndQuiz</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
